.munual {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	justify-content: space-between;

	
}

select {
	margin-top: 10px;
	height: 50px;
	width: 430px;
	border-radius: 20px / 20px;
	border: none;
	padding: 5px 15px;
	font-size: 18px;
	box-shadow: 3px 3px 6px;
}
